<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
    <h2 class="text-center">Sign up</h2>
    <hr>
    <app-text-input 
        [formControl]="$any(registerForm.controls['username'])" 
        [label]="'Username'" >
    </app-text-input>
    <app-text-input 
        [formControl]="$any(registerForm.controls['password'])" 
        [label]="'Password'" 
        [type]="'password'">
    </app-text-input>
    <app-text-input 
        [formControl]="$any(registerForm.controls['confirmPassword'])" 
        [label]="'confirmPassword'" 
        [type]="'password'" >
    </app-text-input>
    <app-text-area-input
        [formControl]="$any(registerForm.controls['bio'])" 
        [label]="'Bio'"
        [type]="'text-area'"
        [rows]="3" >
    </app-text-area-input>
    <div class="text-center mt-2">
        <button class="btn btn-primary me-2" type="submit" >Register</button>
        <button class="btn btn btn-outline-secondary me-2" type="button" (click)="cancel()">Cancel</button>
    </div>
    <hr>
</form>
<p>{{registerForm.value| json}}</p>
<p>{{registerForm.status| json}}</p>
