<div class="row mt-2" style="border: solid white 1px; border-radius: .5rem;">
    <table class="table table-hover table-secondary">
        <thead>
            <tr>
                <th style="width: 30%;" >Username</th>
                <th style="width: 40%;" >Active roles</th>
                <th style="width: 30%;" ></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usr of users" >
                <td> <b>{{usr.username}}</b> </td>
                <td>{{usr.roles}}</td>
                <td>
                    <button (click)="openRolesModal(usr)" class="btn btn-info">Edit roles</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
