<div class="card mb-4" *ngIf="member" >
    <ng-container *ngIf="(member.photos.length > 0) else NoPhoto">
        <div class="text-center">
            <svg class="bd-placeholder-img rounded-circle p-1" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <defs>
                <clipPath id="circleView">
                    <circle cx="140" cy="840" r="890" fill="#FFFFFF" />
                </clipPath>
            </defs>
            <image 
                width="140" 
                height="140" 
                [attr.xlink:href]="member.photos[0].url" 
                clip-path="url(#circleView)"/>
            </svg>
        </div>
    </ng-container>
    <ng-template #NoPhoto>
        <div class="text-center">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <defs>
                <clipPath id="circleView">
                    <circle cx="140" cy="840" r="890" fill="#FFFFFF" />
                </clipPath>
            </defs>
            <image 
                width="140" 
                height="140" 
                xlink:href="https://upload.wikimedia.org/wikipedia/commons/2/2f/No-photo-m.png" 
                clip-path="url(#circleView)"/>
            </svg>
        </div>
    </ng-template>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user"></i> {{member.kwonas}}</h6>
        <p class="card-text text-muted text-center"><i class="fa fa-home"></i> {{member.city}}</p>
    </div>
    <p class="text-center" ><a class="btn btn-secondary" href="#">Visualizar detalhes »</a></p>
</div>


