<div class="container mt-5">
    <div *ngIf="!registerMode" style="text-align: center">
        <h1>Find your match</h1>
        <p class="lead">Gurl, where you think you're goin?</p>
        <div *ngIf="!(accountService.currentUser$ | async)" class="text-center">
            <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
            <button class="btn btn-primary btn-secondary btn-lg">Learn more</button>
        </div>
    </div>

    <div *ngIf="registerMode" class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-6">
                <!-- recupera o conteúdo do form -->
                <!-- quando estamos recebendo conteúdo, chama o decorator via colchetes [] -->
                <!-- quando estamos enviando conteúdo, chama o decorator via parênteses () -->
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>

</div>