.dropdown-toggle, .dropdown-item, .nav-link{ cursor:pointer }
.btn-status{ padding: 4px 8px !important;}
.status-menu{padding-left: 32px; padding-right: 32px;}
.form-login{ padding-left: 40%;}
.logged-area{display: inherit;}
@media only screen and (max-width: 993px) {
    .form-login{
        margin-left: auto;
        margin: 0.8rem !important;
        padding-left: 0;
    }
}
@media  only screen and (min-width: 993px) {
    .form-login{
        padding-left: 50% !important;
    }
}