<nav class="navbar navbar-expand-lg " style="box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);  background-image: linear-gradient(to right, rgba(53, 181, 225, 0.9), rgba(214, 51, 127, 0.9))" data-bs-theme="dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/" routerLinkActive="active" style="text-shadow: rgba(255, 255, 255, 0.50) 1px 0 10px;">Dating App 🫦</a>
        <ul class="navbar-nav me-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async" >
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/members" routerLinkActive="active" >Matches</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/lists" routerLinkActive="active">Lists</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/messages" routerLinkActive="active" tabindex="-1">Messages</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/errors" routerLinkActive="active" tabindex="-1">Errors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#" tabindex="-1" routerLinkActive="active" (click)="logout()" >Logout</a>
            </li>
        </ul>
        <ng-container  *ngIf="accountService.currentUser$ | async" >
            <svg class="bd-placeholder-img rounded-circle " width="40" height="40" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false">
                <defs>
                  <clipPath id="avatar">
                    <circle cx="25" cy="25" r="25" fill="#FFFFFF" /> <!-- Modified the cx, cy, and r values -->
                  </clipPath>
                </defs>
                <image 
                  style="border: black;"
                  width="40" 
                  height="40" 
                  [attr.xlink:href]="usr.currentphotourl" 
                  clip-path="url(#avatar)"
                />
                <circle *ngIf="statusOnline"
                    cx='20'
                    cy='20'
                    r='20'
                    fill='none'
                    stroke='rgba(95, 255, 151, 0.80)'
                    stroke-width="4" >
                </circle>
                <circle *ngIf="!statusOnline"
                    cx='20'
                    cy='20'
                    r='20'
                    fill='none'
                    stroke='rgba(37, 37, 38, 0.80)'
                    stroke-width="4" >
                </circle>
              </svg>
        </ng-container>
        <div class="dropdown p-1"  *ngIf="accountService.currentUser$ | async" dropdown >
            <a class="dropdown-toggle text-light text-decoration-none px-1"  dropdownToggle >Welcome,  <b>{{usrname}}</b>💦</a>  
            <div class="dropdown-menu status-menu" *bsDropdownMenu="" >
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item"  >
                        <a [class.active]="statusOnline" class="nav-link btn-status" data-bs-toggle="tab" aria-selected="true" role="tab" tabindex="-1" (click)="statusChangeOffline($event)" >Online</a>
                    </li>
                    <li class="nav-item" >
                        <a [class.active]="!statusOnline" class="nav-link btn-status" data-bs-toggle="tab"  aria-selected="false" role="tab" (click)="statusChangeOnline($event)" >Offline</a>
                    </li>                
                </ul>
                <a class="dropdown-item" >Edit Profile</a>
                <a class="dropdown-item" (click)="logout()" >Logout</a>
            </div>
        </div>

        <form  *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()" autocomplete="off">
            <input 
            name="username"
            [(ngModel)]="model.username"
            class="form-control me-2" 
            type="text" 
            placeholder="Username" >
            <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control me-2" 
            type="password" 
            placeholder="Password" >
            <button class="btn btn-secondary" type="submit">Login</button>
        </form>
    </div>
</nav>
