<div class="container marketing mb-3">
    <div class="container mt-3 row col-12 form-flex-row">
      <div class="text-left mt-3 col-8 px-0" >
        <h4>{{predicate === 'liked' ? 'Your likes - found: '  : 'Members who like me:'}}</h4>
      </div>
      <div class="btn-group col-4 mt-3 px-0 flex-col" role="group" aria-label="Basic radio toggle button group">
      <input  type="radio" 
                class="btn-check btn-sm" 
                name="predicate"
                id="btnradio1"
                autocomplete="off" 
                checked=""
                [(ngModel)]="predicate"
                btnRadio="liked" 
                (click)="loadLikes()">
        <label class="btn btn-outline-primary px-0" for="btnradio1">Members I like</label>
        <input  type="radio"
                class="btn-check btn-sm" 
                name="predicate" 
                id="btnradio2" 
                checked=""
                autocomplete="off" 
                [(ngModel)]="predicate"
                (click)="loadLikes()"
                btnRadio="likedBy">
        <label class="btn btn-outline-primary px-0" for="btnradio2">Members liked me</label>
      </div>
  
    </div>
  </div>
  
  <div class="container marketing">
      <!-- Three columns of text below the carousel -->
      <div class="row" *ngIf="members else noUser">
        <div *ngFor="let usr of members" class="member-wrapper col-lg-3">
          <app-member-card [member]="usr"></app-member-card>
        </div>
      </div>
  
      <ng-template #noUser >
        <div class="row featurette" >
          <div class="col-md-7">
            <h2 class="featurette-heading">Não temos usuários cadastrados 😭. <span class="text-muted">Por enquanto.</span></h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus suscipit tortor eget felis porttitor volutpat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.</p>
          </div>
          <div class="col-md-5">
            <svg  class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    
          </div>
        </div>
      </ng-template>
  
    </div>
  
    <div class="d-flex justify-content-center" *ngIf="pagination">
      <pagination [boundaryLinks]="true" 
                  [totalItems]="pagination.totalItems"
                  [itemsPerPage]="pagination.itemsPerPage"
                  [maxSize]="8"
                  [(ngModel)]="pagination.currentPage"
                  (pageChanged)="pageChanged($event)"
                  previousText="&lsaquo;" 
                  nextText="&rsaquo;" 
                  firstText="&laquo;" 
                  lastText="&raquo;">
      </pagination>
    </div>
  