<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h3>Oops! There was an error on the server.</h3>
            <h1><span>5</span><span>0</span><span>0</span></h1>
        </div>
        <h2>we are sorry, you reached an unexpected error.</h2>
        <ng-container *ngIf="err" >
            <div class="alert alert-dismissible alert-danger">
                <h4 class="alert-heading">Error content:</h4>
                <p class="mb-0">{{err.message}}</p>
              </div>
        </ng-container>
    </div>
</div>
<ng-container *ngIf="err">
    <p style="font-weight: bold;" >Here is the stack trace:</p>
    <pre style="background: #272822;">
        <code class="mt-5" style="background-color: #272822; color: #e83283;">
            {{err.details}}
        </code>
    </pre>
</ng-container>