.img-main{
    margin: 15px;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.gallery-img{
    border: 5px solid rgba(255, 255, 255, 0.5);
}

@media (max-width: 800px) {
    .flex-row{
        flex-direction: column !important;
        align-items: center;
    }
    .col-2, .col-3, .col-4, .col-5, .col-8 {
        width: 90% !important;
    }
}
.table{
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}