<!-- <div class="row btn-back" >
        <div class=" d-flex align-items-end justify-content-end" >
          <button class="btn btn-link p-0 text-black" style="text-decoration: none;" (click)="voltar()"><i class="fa fa-arrow-circle-left fa-2x text-white" aria-hidden="true"></i>
          </button>
        </div>
</div> -->
<div *ngIf="member" class="row flex-row">
    <div class="card col-4" >
        <img src="{{mainPhoto || 'https://upload.wikimedia.org/wikipedia/commons/2/2f/No-photo-m.png'}}" class="img-main">
        <h3 class="card-header">{{member.kwonas}} <span class="card-subtitle text-muted">, {{member.age}}y</span></h3>
        <div class="card-body">
          <h5 class="card-title">{{member.city}} - {{member.country}}</h5>
          <h6 class="card-subtitle text-muted">Member scince: {{member.created}}</h6>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group p-1">
            <div class="row col-md-12">
              <div class="w-50 text-center">
                <button class="btn btn-primary" (click)="addLike(member)">Like</button>
              </div>
              <div class="w-50 text-center">
                <button class="btn btn-info px-2">Messages</button>
              </div>
            </div>
        </li>
        </ul>
        <div class="card-footer text-muted">
          Last active: {{member.lastactive | timeago }}
        </div>
    </div>
    <div class="col-8 px-3 mt-2 flex-col" >
        <tabset>
            <tab class="nav nav-tabs" role="tablist" heading="Looking for">
              <div class="col-md-12 p-1">
                <h2 class="featurette-heading">Looking for heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">{{member.lookingfor}}</p>
              </div>
            </tab>
            <tab class="nav nav-tabs" role="tablist" heading="Profile">
              <div class="col-md-12 p-1">
                <h2 class="featurette-heading">Profile heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">{{member.bio}}</p>
              </div>
            </tab>
            <tab class="nav nav-tabs" role="tablist" heading="Interests">
              <div class="col-md-12 p-1">
                <h2 class="featurette-heading">Interests heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <p class="lead">{{member.intrests}}</p>
              </div>
            </tab>
            <tab class="nav nav-tabs" role="tablist" heading="Photos" #photoTab="tab">
              <div class="col-md-11 p-1">
                <h2 class="featurette-heading">Photos heading. <span class="text-muted">It’ll blow your mind.</span></h2>
                <div>
                  <gallery *ngIf="photoTab.active" [items]="images" ></gallery>
                </div>
              </div>
            </tab>
            <tab class="nav nav-tabs" role="tablist" heading="Messages" >
              <div class="col-xl-10 col-lg-10 col-md-10 col-sm-11 col-11 users-chat p-1">
                  <div class="selected-user">
                    <span>To: <span class="name">{{member.kwonas}}</span></span>
                </div>
                <div class="chat-container" >
                  <app-chat [messages]="messages" ></app-chat>
                    <div class="form-group mt-3 mb-0">
                        <textarea class="form-control" rows="3" placeholder="Type your message here..."></textarea>
                    </div>
                </div>
              </div>
            </tab>
        </tabset>
    </div>
</div>
<br>
