<div *ngIf="member" >
    <ng-container *ngIf="(member.photos.length > 0) else NoPhoto">
        <div class="card mb-3">
            <div class="card-body text-center">
              <h5 class="card-title"><i class="fa fa-user"></i> {{member.kwonas}}</h5>
              <h6 class="card-subtitle text-muted"><i class="fa fa-home"></i> {{member.city}}</h6>
            </div>
            <div class="card-img-wrapper">
              <svg xmlns="http://www.w3.org/2000/svg" 
              class="d-block user-select-none my-svg" width="100%" height="200"
              focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
              style="font-size:1.125rem;text-anchor:middle">
              <defs>
                <clipPath id="rectView">
                  <path d="M100,10 h120 a30,30 0 0 1 30,30 v108 a30,30 0 0 1 -30,30 h-120 a30,30 0 0 1 -30,-30 v-108 a30,30 0 0 1 30,-30 z" />
                </clipPath>
              </defs>
              <image 
              width="100%" 
              height="200" 
              [attr.xlink:href]="member.photos[0].url" 
              clip-path="url(#rectView)"/>
              </svg>
              <br>
              <div class="card-footer animate">
                <ul class="list-inline member-icons animate text-center nav nav-pills ">
                  <li class="list-inline-item">
                    <a class="badge bg-primary p-2 pill-btn"
                    routerLink="/members/{{member.username}}"
                    ><i class="fa fa-user"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="badge bg-primary p-2 pill-btn"><i class="fa fa-heart"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a class="badge bg-primary p-2 pill-btn"><i class="fa fa-envelope"></i></a>
                  </li>
                </ul>
              </div>              
            </div>
          </div>
    </ng-container>
    <ng-template #NoPhoto>
        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title"><i class="fa fa-user"></i> {{member.kwonas}}</h5>
              <h6 class="card-subtitle text-muted"><i class="fa fa-home"></i> {{member.city}}</h6>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" 
            class="d-block user-select-none" width="100%" height="200"
            focusable="false" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" 
            style="font-size:1.125rem;text-anchor:middle">
            <defs>
              <clipPath id="rectView">
                <rect width="100%" height="100%" fill="#868e96"></rect>
              </clipPath>
            </defs>
            <image 
            width="100%" 
            height="200" 
            xlink:href="https://upload.wikimedia.org/wikipedia/commons/2/2f/No-photo-m.png"  
            clip-path="url(#rectView)"/>
            </svg>
            <div class="card-body">
              <a href="#" class="card-link">Chat</a>
              <a href="#" class="card-link">block</a>
            </div>
            <div class="card-footer text-muted">
              Last logged: {{member.lastactive}}
            </div>
          </div>
    </ng-template>
</div>


