<ng-container *ngIf="messages else noMessageSelected" >
    <div class="chat-container">
        <ul class="chat-box chatContainerScroll" >
            <li  [ngClass]="{'chat-left': msg.senderusername != currentUsr, 'chat-right': msg.senderusername == currentUsr}"  *ngFor="let msg of messages">
                
                <ng-container *ngIf="msg.recipientusername == currentUsr">  
                    <div class="chat-avatar">
                        <img src="{{msg.senderphotourl}}" alt="Retail Admin">
                        <div class="chat-name">{{msg.senderusername}}</div>
                    </div>
                    <div class="chat-text">{{msg.content}}</div>
                    <div class="chat-hour">{{msg.messagesent | timeago }}<span class="fa fa-check-circle"></span></div>                    
                </ng-container>

                <ng-container *ngIf="msg.senderusername == currentUsr">
                        <div class="chat-hour">{{msg.messagesent | timeago }}<span class="fa fa-check-circle"></span></div>
                        <div class="chat-text">{{msg.content}}</div>
                        <div class="chat-avatar">
                            <img src="{{msg.senderphotourl}}" alt="Retail Admin">
                            <div class="chat-name">{{msg.senderusername}}</div>
                        </div>
                </ng-container>
            </li>
        </ul>
    </div>
</ng-container>
<ng-template #noMessageSelected>
    <div class="text-center" style="margin-top: 200px;">
        <h3>
            <i class="fa fa-comments-o fa-5" aria-hidden="true"></i>
        </h3>
        <h3>
            Please select an chat to start conversation.
        </h3>
        
    </div>
</ng-template>